<div fxLayout="column" fxLayoutAlign="space-around center" class="maxHeightWidth">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="maxHeightWidth">
        <div>
            <mat-slider
            style="margin-bottom: 15px;"
            class="fontSlider"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="100"
            aria-label="font"
            [value]="hmargin"
            (change)="sendHmargin($event)">
            </mat-slider>
            <fa-icon class="iconColor" size="2x" [icon]="faArrowsAltH"></fa-icon>
        </div>
        <div>
            <div class="fontContainer">
                <mat-form-field appearance="fill" style="border-radius:25px !important">
                <mat-label>Font</mat-label>
                <mat-select [(ngModel)]="font" (ngModelChange)="sendFont()">
                    <mat-option *ngFor="let f of fonts" [value]="f.value">
                    {{f.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="fontIconContainer">
                <fa-icon class="iconColor" style="float:right" size="2x" [icon]="faFont"></fa-icon> 
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="maxHeightWidth">
        <div style="margin-top:15px;">
            <mat-slider
            style="margin-bottom: 15px;margin-right:4px"
            class="fontSlider"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="100"
            aria-label="fontH"
            [value]="vmargin"
            (change)="sendVmargin($event)">
            </mat-slider>
            <fa-icon class="iconColor" size="2x" [icon]="faArrowsAltV"></fa-icon>
        </div>
        <div>
            <div class="fontContainer">
                <mat-form-field appearance="fill">
                    <mat-label>Font size</mat-label>
                    <mat-select [(value)]="fontSize" [(ngModel)]="fontSize" (ngModelChange)="sendFontSize()">
                        <mat-option *ngFor="let fs of fontSizes" [value]="fs.value">
                        {{fs.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fontIconContainer">
                <fa-icon class="iconColor" style="float:right" size="2x" [icon]="faTextHeight"></fa-icon> 
            </div>
        </div>   
    </div>
</div>
