
<div class="container" id="main" style="height:100%;min-height:100%;overflow: scroll !important">
  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center" style="width:50%; margin:auto;background-color: rgba(44, 72, 120, 0.2);" class="roundCorner2">
      <div>
        <button mat-raised-button [color]="!showCoverletter ? 'terran' : 'off'" [disabled]="showCoverletter" (click)="showCoverletter=!showCoverletter; setNgxEditorButtonText()" color="terran">Cover Letter</button>
      </div>
      <div>
        <button mat-raised-button [color]="showCoverletter ? 'terran' : 'off'" [disabled]="!showCoverletter" (click)="showCoverletter=!showCoverletter" color="terran">Application</button>
      </div>
      <div>
        <button mat-raised-button color="terran">Question</button>
      </div>



    </div>

    <br>
    <div class="roundCorners">
      <div *ngIf="showCoverletter" class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbarCoverletter"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="coverLetterContent"
          [disabled]="false"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
      <div *ngIf="!showCoverletter" class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbarApplication"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="applicationContent"
          [disabled]="false"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
    </div>
    <br>
    <button mat-raised-button color="terran" (click)="initPDF()">Create PDF</button>
    
  </div>
</div>
