<div *ngIf="this.Urls.currentProjectPath" fxLayout="row" style="max-height: 100%; height:100%">
  <div fxFlex="20">
    <div fxLayout="column" style="max-height: 100%;">
      <div fxFlex="100" class="roundCorner" style="background-color: white; margin: 5px; overflow: scroll;">
        <app-key-words [keyWords]="sortedKeywords" (selectedKeyWordsEvent)="selectKeyword($event)"></app-key-words>
      </div> 
    </div>
  </div>
  <div fxFlex="80" class="roundCorner" style="position: relative; background-color: white;margin: 5px;overflow: hidden; ">
    <div fxLayout="row" style="max-height: 100%;">
      <app-pdf-zoom (zoomEvent)="zoomChange($event)"></app-pdf-zoom>
      <div fxLayout="column" fxLayoutAlign="space-around center" style="width:100%; z-index: 10; position: absolute;bottom: 0;background-color: rgba(255, 255, 255,0.9);margin-top:10px">
          <div *ngIf="keyWordOptions.changeStyle" class="roundCorner" style="background-color: rgba(44, 72, 120, 0.8); width:520px; height:200px;margin-top:10px;">
            <app-style-panel (hmarginEvent)="updateHmargin($event)" (vmarginEvent)="updateVmargin($event)" (fontSizeEvent)="updateFontSize($event)" (fontEvent)="updateFont($event)"></app-style-panel>
          </div>
          <app-working-panel [keyWord]="keyWord" [keywordSelected]="keywordSelected" (keyWordOptionsEvent)="updateSettings($event)" (styleOptionsEvent)="updateStyles($event)" (keywordEvent)=updateKeyword($event)></app-working-panel>          
      </div>
      <pdf-viewer 
        style="border-radius: 25px !important;"
        #pdfDiv id="pdfDiv" 
        [src]="this.Urls.currentProjectPath"
        [original-size]="false"
        [zoom]="pdfZoom"
        (pages-initialized)="setPDFscroll();setPDFleftScroll()">
      </pdf-viewer>
      
    </div>
  </div>
</div>
