<div class="container">
<div *ngIf="this.Urls.currentProjectPath" style="flex:1;" fxLayout="column">
  <div fxFlex="80">
    <div style="height:100%" fxLayout="row">
      <div fxFlex="20">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let word of keyWords | keyvalue" (click)="selectKeyword(word.key)">
            <b>{{wordProcessor.stripKeywordSeparator(word.key)}}</b> : {{word.value}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div fxFlex="80">
        <iframe id="pdfIframe" style="width:100%; height:100%" [attr.src]="this.Urls.currentProjectPath| safe"></iframe>
      </div>
    </div>
  </div>

  <div fxFlex="20">
    <div style="height:100%;width:100%" fxLayout="row" fxLayoutAlign="center center" >
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Change keyword</mat-label>
          <input matInput [disabled]="!keywordSelected" [(ngModel)]="keyWord" (input)="updatePDF()">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="useHighlight=!useHighlight;updatePDF()">Highlight</button>
        <mat-form-field appearance="fill">
          <mat-label>Font</mat-label>
          <mat-select [(ngModel)]="font" (ngModelChange)="updateFont()">
            <mat-option *ngFor="let f of fonts" [value]="f.value">
              {{f.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
</div>
