.hidden-router {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

#footerContent {
  width:100% !important;;
  z-index: 10 !important;;
  height:55px !important;;
  line-height: 55px !important;;
  text-align: center !important;;
  background-color: #001d3c !important;;
  font-family: 'Poppins' !important;
  color:white !important;;

}



#footerContent2 {
  
  text-align: center !important;;
  background-color: #001d3c !important;;
  font-family: 'Poppins' !important;
  color:white !important;;
  line-height: 50px !important;;

}
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
  padding: 0 20px;
}


img {
  max-width:80px;
  height:auto;
}

.background {
  background: rgb(18,42,72);
  background: linear-gradient(137deg, rgba(18,42,72,1) 0%, rgba(152,168,196,1) 46%);
}


:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.container {
	height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin:0 !important;
  padding: 0 !important
}