<div fxFill fxLayout="column">
    <div fxFlex="15" class="roundCorner">
        <div fxFill fxLayout="row" fxLayoutAlign="center center">
            <a routerLink='/' routerLinkActive="active">
                <img style="padding:10px" class="images" src="./../assets/images/terran_2.svg">
            </a>
        </div>
    </div>
    <div fxFlex="78" class="roundCorner">
        <router-outlet></router-outlet>
    </div>
    <div fxFlex="7" id="footerContent2">
        <span>Copyright © terran.ai 2021 | All rights reserved</span>
    </div>
</div>
