<div fxFill fxLayout="column">
    <div fxFlex="15" class="roundCorner">
        <div fxFill fxLayout="row" fxLayoutAlign="center center">

            <a *ngIf="this.href!='/';else img" routerLink='/' routerLinkActive="active" (click)="href='/'">
                <img style="padding:10px" class="images" src="./../assets/images/terran_2.svg">
            </a>

            <ng-template #img>
                <img style="padding:10px" class="images" src="./../assets/images/terran_2.svg">
            </ng-template>

        </div>
    </div>
    <div fxFlex="78" class="roundCorner">
        <router-outlet></router-outlet>
    </div>
    <div fxFlex="7" id="footerContent2">
        <span>Copyright © terran.ai 2021 | All rights reserved</span>
    </div>
</div>
