<div style="margin-top: 10px">
    <div class="floatLeftContainer">
        <button class="buttonSize" style="margin-right:5px" mat-icon-button (click)='keyWordOptions.useHighlight=!keyWordOptions.useHighlight;sendUpdatePDF()' [color]="keyWordOptions.useHighlight ? 'terran' : 'off'">
            <fa-icon [ngStyle]="{'color' : keyWordOptions.useHighlight  ? 'rgba(255, 255, 255,0.8)' : 'rgba(44, 72, 120, 0.8)'}" class="iconContainer" size="2x" [icon]="faHighlighter"></fa-icon>
        </button>
        <button class="buttonSize" mat-icon-button (click)="keyWordOptions.useIndexing=!keyWordOptions.useIndexing;sendUpdatePDF()" [color]="keyWordOptions.useIndexing ? 'terran' : 'off'">
            <fa-icon [ngStyle]="{'color' : keyWordOptions.useIndexing  ? 'rgba(255, 255, 255,0.8)' : 'rgba(44, 72, 120, 0.8)'}" class="iconContainer" size="2x" [icon]="faListOl"></fa-icon>
        </button>
    </div>
    <div class="floatLeftContainer">
        <form class="example-form">
        <mat-form-field class="example-full-width roundCorner" appearance="fill" id="form">
            <mat-label style="color: white;">Change keyword</mat-label>
            <input matInput [disabled]="!keywordSelected" [(ngModel)]="keyWord" (input)="sendKeyword()" style="color: white;" placeholder="Select keyword">
        </mat-form-field>
        </form>
    </div>
    <div style="float: right;">
        <button class="buttonSize" mat-icon-button (click)="keyWordOptions.changeStyle=!keyWordOptions.changeStyle;sendChangeStyle()" [color]="!keyWordOptions.changeStyle ? 'terran' : 'off'">
            <fa-icon [ngStyle]="{'color' : !keyWordOptions.changeStyle  ? 'rgba(255, 255, 255,0.8)' : 'rgba(44, 72, 120, 0.8)'}" class="iconContainer" size="2x" [icon]="faPalette"></fa-icon>
        </button>
    </div>
</div>